<!DOCTYPE html>
<html>

<head>
  <base href='../'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/rps.css">
</head>

<body>
  <h1>ROCK, PAPER, SCISSORS, LIZARD, SPOCK</h1>
  <section class="picks">
  <img src="/images/rock.png" data-pick="rock">
  <img src="/images/paper.png" data-pick="paper">
  <img src="/images/scissors.png" data-pick="scissors">
  <img src="/images/lizard.png" data-pick="lizard">
  <img src="/images/spock.png" data-pick="spock">
  <ol class="result"> </ol>

  <script src="lib/jquery-2.1.1.min.js"></script>
  <script src="lib/player.js"></script>
  <script src="lib/game.js"></script>
  <script src="lib/interface.js"></script>

</body>

</html>

